/** {*/
/*    box-sizing: border-box;*/
/*    -webkit-user-select: none;*/
/*    user-select: none;*/
/*}*/

/*p {*/
/*    -webkit-user-select: text;*/
/*    -moz-user-select: text;*/
/*    user-select: text;*/
/*}*/

* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.33)
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    font-family: 'Roboto', sans-serif;
    background: rgba(0, 0, 0, 0.6);
    display: none;
}

kbd {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.rule {
    color: #aaa;
    padding: 5px;
}

.text-warning {
    background: rgb(33, 37, 41);
    color: #999 !important;
    padding: 5px;
}

.text-muted {
    color: #aaa !important;
}

.container {
    height: 800px;
    width: 1200px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -600px;
    margin-left: -600px;
    color: white;
}

.nav-button {
    margin-right: 10px;
}

.nav-buttons {
    margin-bottom: 10px;
}

.form-control {
    color: white;
    background-color: rgba(0, 0, 0, 0.95);
    border-radius: 0;
    border: 1px solid #262626
}

.form-control:focus {
    color: white;
    background-color: rgba(0, 0, 0, 0.95);
    border-radius: 0;
    border: 1px solid #262626
}

.btn-primary {
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 0;
    border: 0;
    margin-top: 15px;
}

.btn-dark {
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 0;
    border: 0;
    background: rgba(3, 2, 2, 0.75);
}

.btn-dark:focus {
    font-weight: bold;
    border-bottom: 2px solid #6969ff;
}

.selected-page {
    font-weight: bold;
    border-bottom: 2px solid #6969ff;
}

.pages {
    background: rgba(3, 2, 2, 0.75);
}

.col-sm {
    margin: 15px;
}

.must-scroll {
    overflow-y: scroll;
}

.section {
    background-color: black;
    border: .5px solid rgba(128, 128, 128, 0.51);
    margin: 5px;
    padding: 5px;
}

.normal-section {
    background-color: black;
    margin: 5px;
    padding: 30px;
}

.section-title {
    margin-right: 6px;
    border-bottom: 2px solid #6969ff;
}

.command {
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.command-args {
    font-size: 12px;
    /*color: rgb(115, 115, 115);*/
}

.command-info {
    display: block;
    font-size: 11px;
}

.hotkey {
    margin-top: 12px;
    margin-bottom: 12px;
}

.hotkey-info {
    font-size: 12px;
}

.contact-us {
    margin: 10px;
}

.badge {
    color: #fff;
    padding: 3px;
    border-radius: 0px;
    background: rgba(0, 0, 0, 0.5);
    font-weight: 400;
}

.badge-primary {
    background: #6969ff;
}

.badge-success {
    background: #69ff69;
}

.badge-danger {
    background: #ff6969;
}

.badge-info {
    background: #69ffff;
}