.btn {
    border-radius: 0px !important;
    box-shadow: none !important;
    border-width: 2px !important;
}

.btn-primary {
    background: rgba(0, 0, 0, 0.5) !important;
    border-color: rgba(105, 105, 255, 0.5) !important;
}

.btn-primary:hover {
    background: rgba(105, 105, 255, 0.3) !important;
}

.btn-warning {
    color: #fff !important;
    background: rgba(0, 0, 0, 0.5) !important;
    border-color: rgba(255, 193, 7, 0.5) !important;
}

.btn-warning:hover {
    background: rgba(255, 193, 7, 0.3) !important;
}