.text-success {
    color: #69ff69 !important;
}

.text-muted {
    color: #aaa !important;
}


.btn {
    color: #aaa !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

.btn:hover {
    color: #fff !important;
}

.btn-primary {
    background: transparent !important;
    border-bottom: 2px solid rgba(var(--color-primary), 0.5) !important;
}